@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: Kanit, sans-serif;
}

pre {
    @apply p-4 my-4 border-2 border-blue-500 tablet:text-base text-sm rounded;
}

.prose img[title="blog-image"] {
    @apply rounded-md block mx-auto w-[50%] my-4;
}

.prose p {
    @apply tablet:text-base text-sm dark:text-zinc-300 text-zinc-900 font-semibold;
}

h3 {
    @apply tablet:text-4xl font-semibold text-2xl my-2;
}

h4 {
    @apply tablet:text-2xl font-semibold text-xl my-2;
}

.default-title {
    @apply text-2xl tablet:text-4xl font-semibold mb-2;
}

.default-text {
    @apply text-base dark:text-zinc-500 text-zinc-700;
}

.default-subtitle {
    @apply font-semibold text-xl tablet:text-2xl;
}

.emerald-bg {
    @apply bg-gradient-to-bl from-emerald-500 to-emerald-800 text-white;
}

/* .emerald-bg {
    @apply dark:bg-gradient-to-bl dark:from-emerald-500 dark:to-emerald-800 dark:text-white bg-zinc-400;
} */

.dark-bg {
    @apply text-black dark:text-white bg-white dark:bg-zinc-900;
}

/* .classHidden {
    @apply opacity-0 transition-all duration-1000 translate-x-[-100%] blur-sm;
}

.classShown {
    @apply opacity-100 translate-x-0 blur-0;
} */

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: var(--background-color);
    }
}
