@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: Kanit, sans-serif;
}

pre {
    @apply p-2 my-4 border-zinc-400 border-2 rounded-xl;
}

.prose img[title="blog-image"] {
    @apply rounded-md block mx-auto w-[50%] my-4;
}

.prose p {
    @apply tablet:text-base text-sm dark:text-zinc-300 text-zinc-900 font-semibold;
}

h3 {
    @apply tablet:text-4xl font-semibold text-2xl my-2;
}

h4 {
    @apply tablet:text-2xl font-semibold text-xl my-2;
}

.default-title {
    @apply text-2xl tablet:text-4xl font-semibold mb-2;
}

.default-text {
    @apply text-base dark:text-zinc-500 text-zinc-700;
}

.default-subtitle {
    @apply font-semibold text-xl tablet:text-2xl;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: var(--background-color);
    }
}
